* {
    box-sizing: border-box;
}


body {
    background-image: url("../images/bg.png");
    font-family: news-gothic-std, sans-serif;
    color: yellow;
    font-size: 32px;
    line-height: 50px;
}

.fighter {
    border: solid 2px greenyellow;
    height: 220px;
    width: 304px;
    position: relative;
    background-color:black;
    inset-block: left;
}

.name {
    background-color: black;
    color: yellow;
    font-family: news-gothic-std, sans-serif;
    position: absolute;
    left: 50px;
    bottom: 40px;
    z-index: 10;
}

.hitpoints {
    font-size: 26px;
    position: absolute;
    left: 5px;
    bottom: 1px;
}

.title {
    float: right;
    margin-top: 10px;
    margin-right: 100px;
    font-size: 48px;
    font-weight: 700;
}